@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:wght@400;500;600;700&display=swap');

:root {
    --header-height: 3rem;
    --first-color: #1f8555;
    --text-color: #000000;
    --section: #e4e4e4;
    --body-color: #ececec;

    --mb-1: 0.5em;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    --z-fixed: 100;
    --body-font: 'Poppins', sans-serif;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.banner {
    background: #101419 !important;
    width: 100%;
    height: 8vh;
    padding: 0 !important;
    margin: 0 !important;
}


.logo>span {
    font-size: 24pt;
    font-weight: 600 !important;
    line-height: 1.5 !important;
    letter-spacing: -1px !important;
    color: white !important;
    margin-top: 20px;
}


ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none !important;
}

.header {
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav {
    max-width: 1024px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 0 1rem;
        text-align: center;
        background-color: var(--body-color);
        transition: .4s;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
        border-radius: 0 0 1rem 1rem;
        z-index: var(--z-fixed);

    }

    .nav {
        margin-top: 2%;
    }
}

.nav__item {
    margin-bottom: var(--mb-2);
}

.nav__link,
.nav__logo,
.nav__toggle {
    color: var(--text-color);
    font-weight: bold;

}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__link {
    transition: .3s;
    font-size: medium;
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;

}

.nav__link:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.5rem;
    cursor: pointer;
}

.show-menu {
    top: var(--header-height);
}

.active-link {
    color: var(--first-color);
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__list {
        display: flex;
    }

    .nav__item {
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .change-theme {
        position: initial;
        margin-left: var(--mb-2);
    }
}

@media screen and (min-width: 960px) {
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 960px) {
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }
}