@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:wght@400;500;600;700&display=swap");

body {
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.banner {
  background: #101419 !important;
  width: 100%;
  height: 8vh;
  padding: 0 !important;
  margin: 0 !important;
}

.logo {
  display: flex;
  align-items: center;
  transition: all .3s ease-in-out;
}

.table td {
  font-size: 10pt;
}

.sidenav-list {
  font-size: 11pt;
  letter-spacing: 1.0;
  margin: 0;
}

.sidenav-list>li:hover {
  border-right: 2px solid #101419;
  margin-left: 15px;
  cursor: pointer;
  background: #d4e8ff !important;
}

.nav__link:hover {
  cursor: pointer;
}

.clickable:hover {
  cursor: pointer;
}

.bg-dark,
.hoverable-btn,
.lead{
  color: #101419 !important;
}

.hoverable-btn>svg:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: #4c4c4ca3
}

.btn-sm {
  font-size: 10pt !important;
}

#btn_control_panel:hover {
  cursor: pointer;
}

#pane_controlpanel{
  color:#101419 !important;
}

